{% extends 'base_ads.html' %}


{% block card %}


</section>



<section class="py-5 my-card-sec">
  <div class="container text-center">

    <nav class="my-nav-tap">
      <div class="nav nav-tabs my-tap-all" id="nav-tab" role="tablist">
        <a class="nav-item nav-link my-taps active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
          aria-controls="nav-home" aria-selected="true"> Home</a>
        <a class="nav-item nav-link my-taps" id="nav-Mobile-tab" data-toggle="tab" href="#nav-Mobile" role="tab"
          aria-controls="nav-Mobile" href="#" aria-selected="false">Mobile Phones & Accessories</a>

        <a class="nav-item nav-link my-taps" id="nav-clothes-tab" data-toggle="tab" href="#nav-clothes" role="tab"
          aria-controls="nav-clothes" aria-selected="false">clothes</a>


        <a class="nav-item nav-link my-taps" id="nav-Appliances-tab" data-toggle="tab" href="#nav-Appliances" role="tab"
          aria-controls="nav-Appliances" aria-selected="false">Appliances</a>

        <a class="nav-item nav-link my-taps" id="nav-Electronic-tab" data-toggle="tab" href="#nav-Electronic" role="tab"
          aria-controls="nav-Electronic" aria-selected="false">Electronic Devices</a>

        <a class="nav-item nav-link my-taps" id="nav-Sports-tab" data-toggle="tab" href="#nav-Sports" role="tab"
          aria-controls="nav-Sports" aria-selected="false">Sports & Hobbies</a>

        <a class="nav-item nav-link my-taps" id="nav-Vehicles-tab" data-toggle="tab" href="#nav-Vehicles" role="tab"
          aria-controls="nav-Vehicles" aria-selected="false">Vehicles</a>

        <a class="nav-item nav-link my-taps" id="nav-Pets-tab" data-toggle="tab" href="#nav-Pets" role="tab"
          aria-controls="nav-Pets" aria-selected="false">Pets - Accessories</a>

        <a class="nav-item nav-link my-taps" id="nav-Furniture-tab" data-toggle="tab" href="#nav-Furniture" role="tab"
          aria-controls="nav-Furniture" aria-selected="false">Home Furniture</a>

        <a class="nav-item nav-link my-taps" id="nav-Babies-tab" data-toggle="tab" href="#nav-Babies" role="tab"
          aria-controls="nav-Babies" aria-selected="false">Babies & Kids</a>

        <a class="nav-item nav-link my-taps" id="nav-Properties-tab" data-toggle="tab" href="#nav-Properties" role="tab"
          aria-controls="nav-Properties" aria-selected="false">Properties</a>

        <a class="nav-item nav-link my-taps" id="nav-Services-tab" data-toggle="tab" href="#nav-Services" role="tab"
          aria-controls="nav-Services" aria-selected="false">Services</a>

      </div>
    </nav>
    <div class="tab-content my-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row">

          {% for ad in ads_all %}

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-card-respon ">
            <div class="card my-card">
              <img src="{{ad.img.url}}" class="card-img-top my-card-img" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ad.title}}</h5>
                <p class="card-text">{{ad.description}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">it is for || {{ ad.ad_option }}</li>
                <li class="list-group-item">cat || {{ ad.main }}</li>
              </ul>
              <div class="card-body">
                <a class="btn btn-primary" href="{% url 'ads:ads_detail' ad.id  %}#con"  role="button">know More</a>
                <a class="btn btn-primary" href="{% url 'user_profile:favoret' ad.id  %}"  role="button">Favorit</a>
                <a class="btn btn-success" href="{% url 'ads:edit_ads' ad.id %}" role="button">Edit !</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- ###################################################   start Pagination     ######################             -->
        <nav class="p-2 my-Pagination" aria-label="Pagination">
          <ul class="pagination justify-content-center mb-0 flex-wrap">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>

        <!-- ###################################################   end Pagination     ######################             -->
      </div>



      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Mobile" role="tabpanel" aria-labelledby="nav-Mobile-tab">Mobile

      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-clothes" role="tabpanel" aria-labelledby="nav-clothes-tab">clothes
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Appliances" role="tabpanel" aria-labelledby="nav-Appliances-tab">Appliances
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Electronic" role="tabpanel" aria-labelledby="nav-Electronic-tab">Electronic
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Sports" role="tabpanel" aria-labelledby="nav-Sports-tab">Sports
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Vehicles" role="tabpanel" aria-labelledby="nav-Vehicles-tab">Vehicles
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Pets" role="tabpanel" aria-labelledby="nav-Pets-tab">Pets
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Furniture" role="tabpanel" aria-labelledby="nav-Furniture-tab">Furniture
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Babies" role="tabpanel" aria-labelledby="nav-Babies-tab">Babies
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Properties" role="tabpanel" aria-labelledby="nav-Properties-tab">Properties
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Services" role="tabpanel" aria-labelledby="nav-Services-tab">Services
      </div>


    </div>
  </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
  $("#nav-Vehicles-tab").click(function () {
    var cat = 43 ;
    $.ajax({
      url: "{% url 'search:by_catugry' %}",
      data: { 'cat': cat },
      success: function (data) {
        $("#nav-Vehicles").html(data);
        console.log(data);
      }
    });
  });

  
  $("#nav-Mobile-tab").click(function () {
    var cat = 50;
    $.ajax({
      url: "{% url 'search:by_catugry' %}",
      data: { 'cat': cat },
      success: function (data) {
        $("#nav-Mobile").html(data);
      }
    });
  });


  $("#nav-clothes-tab").click(function () {
    var cat = 112;
    $.ajax({
      url: "{% url 'search:by_catugry' %}",
      data: { 'cat': cat },
      success: function (data) {
        $("#nav-clothes").html(data);
      }
    });
  });



  $("#nav-Appliances-tab").click(function () {
    var cat = 113;
    $.ajax({
      url: "{% url 'search:by_catugry' %}",
      data: { 'cat': cat },
      success: function (data) {
        $("#nav-Appliances").html(data);
      }
    });
  });



  $("#nav-Electronic-tab").click(function () {
    var cat = 53;
    $.ajax({
      url: "{% url 'search:by_catugry' %}",
      data: { 'cat': cat },
      success: function (data) {
        $("#nav-Electronic").html(data);
      }
    });
  });


  $("#nav-Sports-tab").click(function () {
    var cat = 115;
    $.ajax({
      url: "{% url 'search:by_catugry' %}",
      data: { 'cat': cat },
      success: function (data) {
        $("#nav-Sports").html(data);
      }
    });
  });



  $("#nav-Pets-tab").click(function () {
    var cat = 116;
    $.ajax({
      url: "{% url 'search:by_catugry' %}",
      data: { 'cat': cat },
      success: function (data) {
        $("#nav-Pets").html(data);
      }
    });
  });


  $("#nav-Furniture-tab").click(function () {
    var cat =117;
    $.ajax({
      url: "{% url 'search:by_catugry' %}",
      data: { 'cat': cat },
      success: function (data) {
        $("#nav-Furniture").html(data);
      }
    });
  });



  $("#nav-Babies-tab").click(function () {
    var cat = 118;
    $.ajax({
      url: "{% url 'search:by_catugry' %}",
      data: { 'cat': cat },
      success: function (data) {
        $("#nav-Babies").html(data);
      }
    });
  });



  $("#nav-Properties-tab").click(function () {
    var cat = 111;
    $.ajax({
      url: "{% url 'search:by_catugry' %}",
      data: { 'cat': cat },
      success: function (data) {
        $("#nav-Properties").html(data);
      }
    });
  });




  $("#nav-Services-tab").click(function () {
    var cat = 114 ;
    $.ajax({
      url: "{% url 'search:by_catugry' %}",
      data: { 'cat': cat },
      success: function (data) {
        $("#nav-Services").html(data);
      }
    });
  });
</script>

{% endblock card %}