{% extends 'base_ads.html' %}


{% block card %}


</section>



<section class="py-5 my-card-sec" id="all">
  <div class="container text-center" id="target_page">

    <nav class="my-nav-tap">
      <div class="nav nav-tabs my-tap-all" id="nav-tab" role="tablist">
        <a class="nav-item nav-link my-taps active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
          aria-controls="nav-home" aria-selected="true"> Home</a>
        <a class="nav-item nav-link my-taps cat_nav" cat_id="50" id="nav-Mobile-tab" data-toggle="tab" href="#nav-Mobile" role="tab"
          aria-controls="nav-Mobile" href="#" aria-selected="false">Mobile Phones & Accessories</a>

        <a class="nav-item nav-link my-taps cat_nav" cat_id="112" id="nav-clothes-tab" data-toggle="tab" href="#nav-clothes" role="tab"
          aria-controls="nav-clothes" aria-selected="false">clothes</a>


        <a class="nav-item nav-link my-taps cat_nav" cat_id="113" id="nav-Appliances-tab" data-toggle="tab" href="#nav-Appliances" role="tab"
          aria-controls="nav-Appliances" aria-selected="false">Appliances</a>

        <a class="nav-item nav-link my-taps cat_nav" cat_id="53" id="nav-Electronic-tab" data-toggle="tab" href="#nav-Electronic" role="tab"
          aria-controls="nav-Electronic" aria-selected="false">Electronic Devices</a>

        <a class="nav-item nav-link my-taps cat_nav" cat_id="115" id="nav-Sports-tab" data-toggle="tab" href="#nav-Sports" role="tab"
          aria-controls="nav-Sports" aria-selected="false">Sports & Hobbies</a>

        <a class="nav-item nav-link my-taps cat_nav" cat_id="43" id="nav-Vehicles-tab" data-toggle="tab" href="#nav-Vehicles" role="tab"
          aria-controls="nav-Vehicles" aria-selected="false">Vehicles</a>

        <a class="nav-item nav-link my-taps cat_nav" cat_id="116" id="nav-Pets-tab" data-toggle="tab" href="#nav-Pets" role="tab"
          aria-controls="nav-Pets" aria-selected="false">Pets - Accessories</a>

        <a class="nav-item nav-link my-taps cat_nav" cat_id="117" id="nav-Furniture-tab" data-toggle="tab" href="#nav-Furniture" role="tab"
          aria-controls="nav-Furniture" aria-selected="false">Home Furniture</a>

        <a class="nav-item nav-link my-taps cat_nav" cat_id="118" id="nav-Babies-tab" data-toggle="tab" href="#nav-Babies" role="tab"
          aria-controls="nav-Babies" aria-selected="false">Babies & Kids</a>

        <a class="nav-item nav-link my-taps cat_nav" cat_id="111" id="nav-Properties-tab" data-toggle="tab" href="#nav-Properties" role="tab"
          aria-controls="nav-Properties" aria-selected="false">Properties</a>

        <a class="nav-item nav-link my-taps cat_nav" cat_id="114" id="nav-Services-tab" data-toggle="tab" href="#nav-Services" role="tab"
          aria-controls="nav-Services" aria-selected="false">Services</a>

      </div>
    </nav>
    <div class="tab-content my-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <table>
          <form action=" {% url 'ads:all_ads' %}#all"> 
            {{ order_by_form.as_ul }}
          </form>
          

        </table>
        <br>

        <div class="row">
          
          

          {% for ad in ads_all %}

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-card-respon ">
            <div class="card my-card">
              <img src="{{ad.img.url}}" class="card-img-top my-card-img" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ad.title}}</h5>
                <p class="card-text">{{ad.description|truncatewords:3}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">it is for || {{ ad.ad_option }}</li>
                <li class="list-group-item">cat || {{ ad.main }}</li>
              </ul>
              <div class="card-body">
                <a class="btn btn-primary" href="{% url 'ads:ads_detail' ad.id  %}#con"  role="button">know More</a>
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'user_profile:favoret' ad.id  %}"  role="button">Favorit</a>
                {% endif %}
                <a class="btn btn-success" href="{% url 'ads:edit_ads' ad.id %}" role="button">Edit !</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- ###################################################   start Pagination     ######################             -->
        {% if ads_all.has_other_pages %}
        <nav class="p-2 my-Pagination" aria-label="Pagination">
          <ul class="pagination justify-content-center mb-0 flex-wrap"> 
            {% if ads_all.has_previous  %}
              <li class="page-item "><a class="page-link" href="?page=1#target_page">First</a></li>
              <li class="page-item "><a class="page-link" href="?page={{ ads_all.previous_page_number }}#target_page">Previous</a></li>
            {% else %}
              <li class="page-item disabled" style="cursor: not-allowed;" ><a class="page-link" href="#">First</a></li>
              <li class="page-item disabled" style="cursor: not-allowed;" ><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            {% for ads_page in ads_all.paginator.page_range %}
            {% if ads_all.number == ads_page %}
            <li class="page-item active "><a class="page-link" href="?page={{ads_page }}#target_page">{{ads_page}}</a></li>
            {% elif ads_page > ads_all.number|add:'-4' and ads_page < ads_all.number|add:'4' %}
            <li class="page-item  "><a class="page-link" href="?page={{ads_page }}#target_page">{{ads_page}}</a></li>
            <!-- لو الصفحة من اللوب اكبر من الصفحة الفعلية -4 و كمان اصغر من الفحة الفعلية +4  -->
            {% endif %}
            {% endfor %}
            {% if ads_all.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ ads_all.next_page_number }}#target_page">Next</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ ads_all.paginator.num_pages }}#target_page">Last </a></li>
              {% else %}
              <li class="page-item disabled" style="cursor: not-allowed;" ><a class="page-link" href="#">Next</a></li>
              <li class="page-item disabled" style="cursor: not-allowed;" ><a class="page-link" href="#">Last</a></li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}

        <!--  ###################################################   end Pagination     ######################             -->
      </div>



      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Mobile" role="tabpanel" aria-labelledby="nav-Mobile-tab">Mobile

      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-clothes" role="tabpanel" aria-labelledby="nav-clothes-tab">clothes
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Appliances" role="tabpanel" aria-labelledby="nav-Appliances-tab">Appliances
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Electronic" role="tabpanel" aria-labelledby="nav-Electronic-tab">Electronic
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Sports" role="tabpanel" aria-labelledby="nav-Sports-tab">Sports
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Vehicles" role="tabpanel" aria-labelledby="nav-Vehicles-tab">Vehicles
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Pets" role="tabpanel" aria-labelledby="nav-Pets-tab">Pets
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Furniture" role="tabpanel" aria-labelledby="nav-Furniture-tab">Furniture
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Babies" role="tabpanel" aria-labelledby="nav-Babies-tab">Babies
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Properties" role="tabpanel" aria-labelledby="nav-Properties-tab">Properties
      </div>


      <!-- new tab -->

      <div class="tab-pane fade" id="nav-Services" role="tabpanel" aria-labelledby="nav-Services-tab">Services
      </div>


    </div>
  </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>

// $("#id_order_by_options").change (function () {
//       var order_by_options = $(this).val();
//       var thisURL = (" {% url 'ads:all_ads' %} ")
//       $.post(thisURL,
//       {
//         'order_by_options': order_by_options,
//       },
      
      // location.reload(order_by_options);
    // $.ajax({
    //   method: 'GET',
    //   url: thisURL,
    //   data: order_by_options ,
    //   success: function (data) {
    //     // $("#search_result").html(data);
    //   }
    // });
  // });


  $(".cat_nav").click(function () {
    var cat = $(this).attr("cat_id")
    var target_nav = $(this).attr("href")
    console.log(target_nav);
    $.ajax({
      url: "{% url 'search:by_catugry' %}",
      data: { 'cat': cat },
      success: function (data) {
        $(target_nav).html(data);
      }
    });
  });
</script>

{% endblock card %}