{% extends 'base_ads.html' %}


{% block card %}



<form method="post" id="adsform" data-url="{% url 'ads:load_sub'%}mkm" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  {% if signalf == 1 %}
  <table id="change_form">
    {{catff}}
  </table>
  {% else %}
  <table id="change_form">
  </table>
  {% endif %}
  <button type="submit">Save</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  var Choose2 = '<option value="">Choose</option>'

  $("#id_main").change(function () {
    var url2 = ("{% url 'ads:load_sub'%}") 
    var mainId = $(this).val(); 
    var main_form_id = $(this).val(); 
    var sub_Id = $("#id_sub").val();
    var end_Id = $("#id_end").val();
    var url3= ("{% url 'ads:change_form'%}"); 

    $.ajax({                       
      url: url2,                   
      data: {
        'main': mainId,

      },

      success: function (data) {  
        $("#id_sub").html(data);
        $("#id_end").html(Choose2);
        $("#id_last").html(Choose2);
        console.log(data);
      }
    });

    // ############################################################
    // ###########################################################

    $.ajax({
      url: url3,
      data: {
        'main_form_id': main_form_id,
      },
      success: function (data2) {
        $("#change_form").html(data2);
        console.log(data2);
      }
    });
  });

  // ############################################################
  // ###########################################################

  $("#id_sub").change(function () {
    var subId = $(this).val();
    var url2 = ("{% url 'ads:load_sub'%}")
    var mainId = $("#id_main").val();

    if (subId !== "") {
      console.log("55555");
      $.ajax({
        url: url2,
        data: {
          'main': mainId,
          'sub': subId
        },
        success: function (data) {
          $("#id_end").html(data);
        }
      });
    }
    else {
      console.log("4444444");
      $("#id_last").html(Choose2);
      $("#id_end").html(Choose2);
    }
  });

  $("#id_end").change(function () {
    var url = $("#adsform").attr("data-url");
    var endId = $(this).val(); 
    var mainId = $("#id_main").val();
    var subId = $("#id_sub").val();
    var url2 = ("{% url 'ads:load_sub'%}");



    if (endId !== "") {
      console.log("55555");
      $.ajax({
        url: url2,
        data: {
          'main':mainId ,
          'sub': subId ,
          'end': endId      
        },
        success: function (data) {
          $("#id_last").html(data);
        }
      });
    }
    else {
      console.log("4444444");
      $("#id_last").html(Choose2);
    }

  

  });

</script>

{% endblock card %}