{% extends 'base_ads.html' %}

{% block detail %}
  
<section class="py-3 my-product-detils">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <h2>{{detail.title}}</h2>
          <p>$39,99 (Ex. Tax)</p>
          
          <p>{{detail.description}}</p>
          <table class="table mt-3 mb-2 responsive">
            <tbody>
              <tr>
                <td>It is for </td>
                <td class="text-right">{{detail.ad_option}}</td>
              </tr>
              <tr>
                <td>Item two</td>
                <td class="text-right">Secound value</td>
              </tr>
              <tr>
                <td>Item three</td>
                <td class="text-right">Third value</td>
              </tr>
            </tbody>
          </table>
            <a class="btn btn-success" href="" role="button">favoret !</a>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 mb-5 mb-lg-0"><img class="img-fluid" src=" {{detail.img.url}}" alt="">
          <div class="d-flex justify-content-between w-100 mt-4">
            <div class="p-0"><img class="w-100" src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff" alt=""></div>
            <div class="p-0 mx-4"><img class="w-100" src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff" alt=""></div>
            <div class="p-0"><img class="w-100" src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </section>


  
{% endblock detail %}

