{% extends 'base_ads.html' %}

{% block detail %}
{% load static %}

<section  id="con"  class="py-3 my-product-detils">

    <div  class="container my-product-detils-container">
      <div class="row">
        <div class="col-lg-5 order-1 order-lg-1">
          <h2>{{detail.title}}</h2>
          <p>$39,99 (Ex. Tax)</p>
          
          <p>{{detail.description}}</p>
          <table class="table mt-3 mb-2 responsive">
            <tbody>
              <tr>
                <td>It is for </td>
                <td class="text-right">{{detail.ad_option}}</td>
              </tr>
              <tr>
                <td>Item two</td>
                <td class="text-right">Secound value</td>
              </tr>
              <tr>
                <td>Item three</td>
                <td class="text-right">Third value</td>
              </tr>
            </tbody>
          </table>
            <a class="btn btn-success" href="" role="button">favoret !</a>
        </div>
        <div class="col-lg-7 order-2">
          <div class="row">
              
            <figure class="col-lg-6">
              <a href="{{detail.img.url}}" data-lightbox="roadtrip"><img alt="picture" src="{{detail.img.url}}" class="img-fluid"></a>        
            </figure>

            {%if detail.img5.url %}
            <figure class="col-lg-6">
              <a href="{{detail.img2.url}}" data-lightbox="roadtrip"><img alt="picture" src="{{detail.img5.url}}" class="img-fluid"></a>        
            </figure>
            {% endif %}

            <figure class="col-lg-6">
              <a href="{{detail.img.url}}" data-lightbox="roadtrip"><img alt="picture" src="{{detail.img.url}}" class="img-fluid"></a>        
            </figure>

            <figure class="col-lg-6">
              <a href="{{detail.img.url}}" data-lightbox="roadtrip"><img alt="picture" src="{{detail.img.url}}" class="img-fluid"></a>        
            </figure>
            <figure class="col-lg-6">
              <a href="{{detail.img.url}}" data-lightbox="roadtrip"><img alt="picture" src="{{detail.img.url}}" class="img-fluid"></a>        
            </figure>
            <figure class="col-lg-6">
              <a href="{{detail.img.url}}" data-lightbox="roadtrip"><img alt="picture" src="{{detail.img.url}}" class="img-fluid"></a>        
            </figure>
            <figure class="col-lg-6">
              <a href="{{detail.img.url}}" data-lightbox="roadtrip"><img alt="picture" src="{{detail.img.url}}" class="img-fluid"></a>        
            </figure>
            
          
            


          </div>
        </div>
      </div>
    </div>
  </section>


  
{% endblock detail %}



{% block javascr %}
<script src="{% static '../static/js/lightbox.js' %}"></script>

{% endblock javascr %}


{% block css %}
<link rel="stylesheet" href="{% static '../static/css/lightbox.css' %}" class="stylsheet">

{% endblock css %}

