{% extends 'base_ads.html' %}


{% block card %}


</section>



<section class="py-5 my-card-sec">
    <div class="container text-center" id="target_page">

        <nav class="my-nav-tap">
            <div class="nav nav-tabs my-tap-all" id="nav-tab" role="tablist">
                <a class="nav-item nav-link my-taps active" id="nav-home-tab" data-toggle="tab" href="#nav-Mobile"
                    role="tab" aria-controls="nav-home" aria-selected="true"> Home</a>


                <a class="nav-item nav-link my-taps cat_nav" cat_id="50" id="nav-Mobile-tab" data-toggle="tab"
                    href="#nav-clothes" role="tab" aria-controls="nav-Mobile" href="#" aria-selected="false">Mobile
                    Phones & Accessories</a>


            </div>
        </nav>

        <div class="tab-content my-content" id="nav-tabContent">


            <!-- new tab -->

            <div class="tab-pane fade" id="nav-Mobile" role="tabpanel" aria-labelledby="nav-Mobile-tab">Home


                <div class="col-sm-3"><!--left col-->
              

                    <div class="text-center">
                      <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                      <h6>Upload a different photo...</h6>
                      <input type="file" class="text-center center-block file-upload">
                    </div><br>
              
                             
                        <div class="panel panel-default">
                          <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                          <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
                        </div>
                        
                        
                        <ul class="list-group">
                          <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                          <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                          <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                          <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                          <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
                        </ul> 
                             
                        <div class="panel panel-default">
                          <div class="panel-heading">Social Media</div>
                          <div class="panel-body">
                              <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                          </div>
                        </div>
                        
                      </div>

            </div>


            <!-- new tab -->

            <div class="tab-pane fade" id="nav-clothes" role="tabpanel" aria-labelledby="nav-clothes-tab">Mobile Phones
                & Accessories
            </div>
        </div>
    </div>

</section>

{% endblock card %}